*{
    padding:0;
    margin:0;
    box-sizing: border-box;

}
.body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.main-container{
    background: #222;
    height: auto;
    width: 30rem;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-left: 30rem;
    margin-top: 5rem;
   
    border-radius:1.5rem;
   
    border: 2px solid #222;

}
.input{
    height: 7rem;
    width: 100%;
    background-color: #222;
    color:white;
    border-radius: 2rem;
    text-align: right;
    padding-left: 1rem;
    font-size: 2rem;
    border: none;
    outline: none;
}
input::placeholder{
    color: white;
    font-size: 2rem;
}
.row{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}
button{
    width: 3.4rem;
    height: 3.4rem;
    border-radius: 50%;
    text-align: center;
    outline: none;
    border: none;
    box-shadow: 2px 2px 2px black;
    font-size: 2rem;
}

.equal{
    background-color: orangered;
    color: wheat;
    
}
.operator-col{
    color: green;
}
body {
  touch-action: manipulation; /* Prevents double-tap zoom */
}
